body {
    width: 100%;
    height: 100%;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

button {
    outline: none;
    cursor: pointer;
}

nav {
    width: 100%;
    height: 90px;
    background-color: #1C1C1C;
    display: flex;
}

#logo {
    width: 200px;
    height: 90px;
    background-color: #1C1C1C;
    text-align: center;
    color: white;
    margin-left: 1%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#logo img {
    width: 179px;
    height: 71px;
}


/* LOGIN */

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

form {
    margin: 20px 0;
    background-color: white;
    padding: 30px 25px;
}

.formulario_login {
    width: 40vw;
}

.formulario_login form h2 {
    text-align: center;
}

form .input_block {
    margin-bottom: 20px;
}

form .input_block label {
    font-size: 20px;
    color: rgb(0, 0, 0);
}

form .input_block input {
    width: 100%;
    display: block;
    margin-top: 8px;
    padding: 7px;
    font-size: 17px;
    color: #000000;
    border: 1px solid #a7a7a7;
    outline-color: #070707;
}

form .button_login {
    width: 200px;
    height: 40px;
    display: block;
    font-size: 16px;
    border: 1px solid black;
    background-color: #050505;
    color: white;
    border-radius: 25px;
    margin: auto;
}

form .button_login:hover {
    color: black;
    background-color: white;
}

.formulario_login form a {
    display: block;
    text-decoration: none;
    color: rgb(49, 49, 49);
    margin-top: 10px;
    text-align: end;
}

.formulario_login form a:hover {
    color: black;
}

input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

input[type="date"]::-webkit-inner-spin-button,
input[type="date"]::-webkit-calendar-picker-indicator {
    display: none;
    -webkit-appearance: none;
}